<script id="tpl_antiFraudTest" type="text/x-jsrender">
<div class="long-main-content">
	<div class="long-main-title">
    	<h1><span class="pull-left">添加用户</span> <a href="#" class="default-btn pull-right">保存</a></h1>
    </div>
    <div class="pubOperaMsg-con">
		<div class="filter">
			<div class="row">
                  <input type="hidden" id="useId"/>
                  <input type="hidden"  id="decType"/>
                  <input type="hidden"  id="taskId"/>
				 <div class="col-md-3">
                                <label class="col-sm-2 control-label">姓名：</label>
                                <input type="text" placeholder="请输入姓名" class="name"/>
                 </div>
				 <div class="col-md-3">
                                <label class="col-sm-2 control-label">手机号：</label>
                                <input type="text" placeholder="请输入手机号" class="mobile"/>
                 </div>
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">身份证号：</label>
                                <input type="text" placeholder="请输入身份证号码" class="idCard"/>
                 </div>

                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">进件号：</label>
                                <input type="text" placeholder="请输入唯一进件号" class="taskId"/>
                 </div>
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">产品类型：</label>
                              <input type="hidden"  id="applic" value="0"/>
							  <select id="varGroupId" onmousedown="this.size=1" style="position: absolute;z-index: 1;width:140px;"
							  onblur="this.size=0" onchange="this.size=0" class="applicationType">
  								<option value ="">--请选择产品类型--</option>
  								<option value="1">老铁救急</option>
							</select>

                 </div>
                 <div class="col-md-3">
                                <label class="col-sm-2 control-label">生日：</label>
                                <input type="text" placeholder="请输入出生日" class="birthday"/>
                 </div>
                 </div>
                 </div>
                 <div class="filter">
                 <div class="row">
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">性别：</label>

                                <input type="hidden"  id="applic" value="0"/>
							  <select id="varGroupId" onmousedown="this.size=2" style="position: absolute;z-index: 1;width:140px;"
							  onblur="this.size=0" onchange="this.size=0" class="gender">
  								<option value ="">--请选择性别--</option>
  								<option value="男">男</option>
  								<option value="女">女</option>
							</select>
                 </div>
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">民族：</label>
                                <input type="text" placeholder="请输入民族" class="race"/>
                 </div>
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">户籍所在地：</label>
                                <input type="text" placeholder="请输入户籍所在地" class="idCardAddress"/>
                 </div>
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">证件有效期：</label>
                                <input type="text" placeholder="YYYY.MM.DD-YYYY.MM.DD" class="idCardValidDate"/>
                 </div>
                 <div class="col-md-3">
                                <label class="col-sm-2 control-label">身份证合法：</label>
                                <input type="text" placeholder="身份证合法性(1)" class="idCardLegality"/>
                 </div>
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">比对阙值：</label>
                                <input type="text" placeholder="人脸比对Float" class="thresholdsIdcard"/>
                 </div>
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">活体数据源：</label>
                                <input type="text" placeholder="活体数据源比对阙值" class="thresholdsFace"/>
                 </div>
                 </div>
                 </div>
                 <div class="filter">
                 <div class="row">
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">是否被攻击：</label>
                                <input type="text" placeholder="是否被攻击(取值1)" class="idAttacked"/>
                 </div>

                  <div class="col-md-3">
                                <!--<label class="col-sm-2 control-label">学历：</label>
                                <input type="text" placeholder="请输入学历" class="education"/>-->


                                <label class="col-sm-2 control-label">学历：</label>
                              <input type="hidden"  id="applic" value="0"/>
							  <select id="varGroupId" onmousedown="this.size=7" style="position: absolute;z-index: 1;width:140px;"
							  onblur="this.size=0" onchange="this.size=0" class="education">
  								<option value ="">--请选择学历--</option>
  								<option value="1">小学</option>
  								<option value="2">初中</option>
  								<option value="3">高中/中专</option>
  								<option value="4">大专</option>
  								<option value="5">硕士研究生</option>
  								<option value="6">博士研究生</option>
							</select>


                 </div>
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">婚姻状况：</label>
                              <!--  <input type="text" placeholder="请输入婚姻状况" class="maritalStatus"/>-->
                                <input type="hidden"  id="maritalStatus" value="0"/>
							  <select id="varGroupId" onmousedown="this.size=7" style="position: absolute;z-index: 1;width:140px;"
							  onblur="this.size=0" onchange="this.size=0" class="maritalStatus">
  								<option value ="">--请选择婚姻状况--</option>
  								<option value="1">未婚</option>
  								<option value="2">已婚无子女</option>
  								<option value="3">已婚有子女</option>
  								<option value="4">其他</option>
							</select>

                 </div>
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">户籍所在地：</label>
                                <input type="text" placeholder="户籍所在地" class="domicile"/>


                 </div>
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">现住址：</label>
                                <input type="text" placeholder="现住址" class="homeAddr"/>
                 </div>
                   <div class="col-md-3">
                                <label class="col-sm-2 control-label">居住时长：</label>

                              <input type="hidden"  id="residenceLength" value="0"/>
							  <select id="residenceLength" onmousedown="this.size=5" style="position: absolute;z-index: 1;width:140px;"
							  onblur="this.size=0" onchange="this.size=0" class="residenceLength">
  								<option value ="">--请选择居住时长--</option>
  								<option value="1">3个月及以下</option>
  								<option value="2">3个月-6个月</option>
  								<option value="3">6个月-1年</option>
  								<option value="4">1年-3年</option>
  								<option value="5">3年以上</option>
							</select>
                 </div>
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">行业：</label>

                              <input type="hidden"  id="indus" value="0"/>
							  <select id="industry" onmousedown="this.size=5" style="position: absolute;z-index: 1;width:140px;"
							  onblur="this.size=0" onchange="this.size=0" class="industry">
  								<option value ="">--请选择行业--</option>
  								<option value="1">政府机关</option>
  								<option value="2">军事机关</option>
  								<option value="3">教育、科研、设计机构</option>
  								<option value="4">传媒、文化体育</option>
  								<option value="5">高新技术制造业</option>
  								<option value="6">建筑业</option>
  								<option value="7">传统制造业</option>
  								<option value="8">金融业</option>
  								<option value="9">服务业</option>
  								<option value="10">零售、商贸、企业</option>
  								<option value="11">专业服务机构</option>
  								<option value="12">公共事业</option>
  								<option value="13">医院</option>
  								<option value="14">其他</option>
							</select>
                 </div>
                  </div>
                 </div>
                 <div class="filter">
                 <div class="row">
                   <div class="col-md-3">
                                <label class="col-sm-2 control-label">工作地址：</label>
                                <input type="text" placeholder="工作地址" class="companyAddr"/>
                 </div>
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">工作时长：</label>

							  <select id="workingHours" onmousedown="this.size=5" style="position: absolute;z-index: 1;width:140px;"
							  onblur="this.size=0" onchange="this.size=0" class="workingHours">
  								<option value ="">--请选择工作时长--</option>
  								<option value="1">3个月及以下</option>
  								<option value="2">3个月-6个月</option>
  								<option value="3">6个月-1年</option>
  								<option value="4">1年-3年</option>
  								<option value="5">3年以上</option>
							</select>
                 </div>
                   <div class="col-md-3">
                                <label class="col-sm-2 control-label">单位名称：</label>
                                <input type="text" placeholder="单位名称" class="company"/>
                 </div>
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">职位：</label>

                             <select id="position" onmousedown="this.size=4" style="position: absolute;z-index: 1;width:140px;"
							  onblur="this.size=0" onchange="this.size=0" class="position">
  								<option value ="">--请选择工作时长--</option>
  								<option value="1">高层管理人员</option>
  								<option value="2">中层管理人员</option>
  								<option value="3">一般管理人员</option>
  								<option value="4">一般员工</option>

							</select>
                 </div>
                   <div class="col-md-3">
                                <label class="col-sm-2 control-label">月收入：</label>

                              <select id="monthlyIncome" onmousedown="this.size=4" style="position: absolute;z-index: 1;width:140px;"
							  onblur="this.size=0" onchange="this.size=0" class="monthlyIncome">
  								<option value ="">--请选择月收入--</option>
  								<option value="1">3000元及以下</option>
  								<option value="2">3000-5000</option>
  								<option value="3">5000-8000</option>
  								<option value="4">8000-10000</option>
  								<option value="5">10000以上</option>

							</select>
                 </div>
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">工资发放日：</label>
                                <!--<input type="text" placeholder="工资发放日" class="payrollDay"/>-->
                                <select id="payrollDay" onmousedown="this.size=4" style="position: absolute;z-index: 1;width:140px;"
							  onblur="this.size=0" onchange="this.size=0" class="payrollDay">
  								<option value ="">--请选择工资发放日--</option>
  								<option value="1">1</option>
  								<option value="2">2</option>
  								<option value="3">3</option>
  								<option value="4">4</option>
  								<option value="5">5</option>
  								<option value="6">6</option>
  								<option value="7">7</option>
  								<option value="8">8</option>
  								<option value="9">9</option>
  								<option value="10">10</option>
  								<option value="11">11</option>
  								<option value="12">12</option>
  								<option value="13">13</option>
  								<option value="14">14</option>
  								<option value="15">15</option>
  								<option value="16">16</option>
  								<option value="17">17</option>
  								<option value="18">18</option>
  								<option value="19">19</option>
  								<option value="20">20</option>
  								<option value="21">21</option>
  								<option value="22">22</option>
  								<option value="23">23</option>
  								<option value="24">24</option>
  								<option value="25">25</option>
  								<option value="26">26</option>
  								<option value="27">27</option>
  								<option value="28">28</option>
  								<option value="29">29</option>
  								<option value="30">30</option>
  								<option value="31">31</option>

							</select>
                 </div>

                   <div class="col-md-3">
                                <label class="col-sm-2 control-label">亲属类型：</label>
                               <!-- <input type="text" placeholder="亲属联系人类型" class="relativeType"/>-->
                              <select id="relativeType" onmousedown="this.size=4" style="position: absolute;z-index: 1;width:140px;"
							  onblur="this.size=0" onchange="this.size=0" class="relativeType">
  								<option value ="">--请选择亲属类型--</option>
  								<option value="1">配偶</option>
  								<option value="2">父母</option>
  								<option value="3">子女</option>
  								<option value="4">祖父母</option>
  								<option value="5">兄弟姐妹</option>

							</select>
                 </div>

                  </div>
                 </div>
                 <div class="filter">
                 <div class="row">
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">亲属名称：</label>
                                <input type="text" placeholder="亲属联系人名称" class="relativeName"/>
                 </div>
                   <div class="col-md-3">
                                <label class="col-sm-2 control-label">亲属手机：</label>
                                <input type="text" placeholder="亲属联系人手机号" class="relativeMobile"/>
                 </div>
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">非亲属类型：</label>

                              <select id="nonRelativeType" onmousedown="this.size=4" style="position: absolute;z-index: 1;width:140px;"
							  onblur="this.size=0" onchange="this.size=0" class="nonRelativeType">
  								<option value ="">--请选择非亲属类型--</option>
  								<option value="1">同事</option>
  								<option value="2">朋友</option>
							</select>

                 </div>
                   <div class="col-md-3">
                                <label class="col-sm-2 control-label">非亲属姓名：</label>
                                <input type="text" placeholder="非亲属联系人姓名" class="nonRelativeName"/>
                 </div>
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">非亲属手机：</label>
                                <input type="text" placeholder="非亲属联系人手机号" class="nonRelativeMobile"/>
                 </div>
                   <div class="col-md-3">
                                <label class="col-sm-2 control-label">借款期限：</label>
                                <!--<input type="text" placeholder="请输入借款期限（借款填写）" class="loanTerm"/>
                               <input type="hidden"  id="loanTerm" value="0"/>-->

							  <select id="loanTerm" onmousedown="this.size=7" style="position: absolute;z-index: 1;width:140px;"
							  onblur="this.size=0" onchange="this.size=0" class="loanTerm">
  								<option value ="">--请选择借款期限--</option>
  								<option value="1">1个月</option>
  								<option value="2">2个月</option>
  								<option value="3">3个月</option>
                 </div>
                 </div>
                 </div>
                 <div class="filter">
                 <div class="row">
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">借款金额：</label>
                              <input type="hidden"  id="loanAmount" value="0"/>
							  <select id="loanAmount" onmousedown="this.size=7" style="position: absolute;z-index: 1;width:140px;"
							  onblur="this.size=0" onchange="this.size=0" class="loanAmount">
  								<option value ="">--请选择借款金额--</option>
  								<option value="1">1000</option>
  								<option value="2">2000</option>
  								<option value="3">3000</option>

							</select>


                 </div>
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">借款用途：</label>
                            <input type="hidden"  id="loanUsage" value="0"/>
							  <select id="loanUsage" onmousedown="this.size=7" style="position: absolute;z-index: 1;width:140px;"
							  onblur="this.size=0" onchange="this.size=0" class="loanUsage">
  								<option value ="">--请选择借款用途--</option>
  								<option value="1">租房</option>
  								<option value="2">购物</option>
  								<option value="3">教育/培训</option>
  								<option value="4">医美</option>
  								<option value="5">旅游</option>
  								<option value="6">短期资金周转</option>
  								<option value="7">偿还信用卡</option>

							</select>
                 </div>
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">其他借款：</label>

                              <input type="hidden"  id="otherChannels" value="0"/>
							  <select id="otherChannelsInfo" onmousedown="this.size=7" style="position: absolute;z-index: 1;width:140px;"
							  onblur="this.size=0" onchange="this.size=0" class="otherChannelsInfo">
  								<option value ="">--其他渠道借款信息--</option>
  								<option value="1">无借款</option>
  								<option value="2">有，已结清</option>
  								<option value="3">有，未结清</option>

							</select>

                 </div>
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">银行卡号：</label>
                                <input type="text" placeholder="请输入银行卡号（银行信息填写）" class="bankCard"/>
                 </div>
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">ip：</label>
                                <input type="text" placeholder="请输入ip地址（设备指纹）" class="ip"/>
                 </div> <div class="col-md-3">
                                <label class="col-sm-2 control-label">Sim卡序：</label>
                                <input type="text" placeholder="Sim卡序列号（设备指纹）" class="imsi"/>
                 </div>
                 </div>
                 </div>
                 <div class="filter">
                 <div class="row">
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">手机设备号：</label>
                                <input type="text" placeholder="请输入手机设备号" class="imei"/>
                 </div> <div class="col-md-3">
                                <label class="col-sm-2 control-label">手机设备号：</label>
                                <input type="text" placeholder="请输入手机设备号" class="idfa"/>
                 </div>
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">mac地址：</label>
                                <input type="text" placeholder="请输入设备mac地址" class="mac"/>
                 </div> <div class="col-md-3">
                                <label class="col-sm-2 control-label">操作系统：</label>
                                <input type="text" placeholder="请输入操作系统" class="osType"/>
                 </div>
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">系统版本号：</label>
                                <input type="text" placeholder="操作系统版本号" class="osVer"/>
                 </div> <div class="col-md-3">
                                <label class="col-sm-2 control-label">wifiMac：</label>
                                <input type="text" placeholder="请输入wifiMac" class="wifiMac"/>
                 </div>
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">wifi服务集：</label>
                                <input type="text" placeholder="请输入wifi服务集表示（借款填写）" class="wifiSsid"/>
                 </div> <div class="col-md-3">
                                <label class="col-sm-2 control-label">wifiBssid：</label>
                                <input type="text" placeholder="请输入wifiBssid（借款填写）" class="wifiBssid"/>
                 </div>
                 </div>
                 </div>
                 <div class="filter">
                 <div class="row">
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">数美贷回溯：</label>
                                <input type="text" placeholder="数美多头贷回溯时间（数美）" class="nextDataBacktracking"/>
                 </div> <div class="col-md-3">
                                <label class="col-sm-2 control-label">数美天统计：</label>
                                <input type="text" placeholder="请输入数美多头贷最多多少天统计（数美）" class="nextDataHistoryDays"/>
                 </div>
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">时间段：</label>
                                <input type="text" placeholder="请输入时间段（华道用）" class="emayCycle"/>
                 </div> <div class="col-md-3">
                                <label class="col-sm-2 control-label">平台类型：</label>
                                <input type="text" placeholder="平台类型（华道）" class="emayPlatform"/>
                 </div>
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">通话记录：</label>
                                <input type="text" placeholder="请输入通话记录（用户授权）" class="callRecords"/>
                 </div>
                 </div>
                 <div>
                 <div class="filter">
                 <div class="row">
                 <div class="col-md-3">
                                <label class="col-sm-2 control-label">手机联系人：</label>
                                <input type="text" placeholder="请输入手机联系人（用户授权）" class="callContacts"/>
                 </div>
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">对方手机号：</label>
                                <input type="text" placeholder="请输入对方手机号" class="phone"/>
                 </div>
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">通话类型：</label>
                                <input type="text" placeholder="请输入通话类型" class="type"/>
                 </div>
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">通话始时间：</label>
                                <input type="text" placeholder="请输入通话开始时间（YYYY-MM-DD HH:ii:ss）" class="startTime"/>
                 </div>

                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">通话时长：</label>
                                <input type="text" placeholder="请输入通话时长" class="duration"/>
                 </div>
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">手机号：</label>
                                <input type="text" placeholder="请输入手机号" class="phone"/>
                 </div>
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">名称：</label>
                                <input type="text" placeholder="请输入名称" class="name"/>
                 </div>


			</div>
		</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Modal title</h2>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>

      <div class="modal-footer" style="text-align:center">

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>
</div>
</script >
