<script id="tpl_decisionDetail" type="text/x-jsrender">
<div class="long-main-content">
	<div class="long-main-title">
		<h1>进件决策详情</h1>
	</div>
	<div class="teach-admin">
		<div class="admin-con">
			<div class="filter">
				<p>进件信息</p>
				<div class="container">
				   <div class="row">
						 <div class="col-md-4"> <i>订单号</i>：<span id="taskId"></span></div>
                         <div class="col-md-3"><i>决策结果</i>：<span id="decisionResult" style="color:red">REJECT</span></div>
					</div>
					<div class="row">
                         <div class="col-md-3"><i>借款期限</i>：<span id="loanTerm"></span></div>
						 <div class="col-md-3"><i>借款金额</i>：<span id="loanAmount"></span></div>
						 <div class="col-md-3"><i>借款用途</i>：<span id="loanUsage"></span></div>
					</div>
					<div class="row">
                         <div class="col-md-3"><i>姓名</i>：<span id="name"></span></div>
						<div class="col-md-3"><i>手机号</i>：<span id="idCard"></span></div>
						<div class="col-md-4"><i>身份证</i>：<span id="mobile"></span></div>
					</div>

					<div class="row">
						<div class="col-md-3"><i>户籍所在地</i>：<span id="idCardAddress"></span></div>
                        <div class="col-md-3"><i>学历</i>：<span id="education"></span></div>
						<div class="col-md-3"><i>婚姻状况</i>：<span id="maritalStatus"></span></div>
						<div class="col-md-3"><i>行业</i>：<span id="industry"></span></div>
					</div>
					<div class="row">
						<div class="col-md-5"><i>家庭地址</i>：<span id="homeAddr"></span></div>
					</div>
					<div class="row">
						<div class="col-md-5"><i>单位名称</i>：<span id="company"></span></div>
					</div>
					<div class="row">
						<div class="col-md-5"><i>工作地址</i>：<span id="companyAddr"></span></div>
					</div>
				</div>
			</div>
			<div class="kebiao-con">
                <div class="panel panel-default" id="decisionStep"  style="display:none">
                  <div class="panel-heading">规则集信息</div>
                  <div class="panel-body"  style="height:140px">
                        <div class="hortree-wrapper">
                          <div class="hortree-branch">
                                <div class="hortree-entry">
                                    <div class="hortree-label">进件强规则集</div>
                                    <div class="hortree-label"><i class="icon-circle-ok" aria-hidden="true"></i>通过</div>
                                    <div class="hortree-label">用时：3s</div>
                                </div>
                          </div>
                          <div class="hortree-branch">
                                <div class="hortree-entry">
                                    <div class="hortree-label">外部数据强规则集</div>
                                    <div class="hortree-label"><i class="glyphicon icon-circle-remove" aria-hidden="true"></i>命中</div>
                                    <div class="hortree-label">用时：3s</div>
                                </div>
                          </div>
                          <div class="hortree-branch">
                                <div class="hortree-entry" >
                                    <div class="hortree-label">信用强规则集</div>
                                    <div class="hortree-label"><i class="glyphicon icon-circle-minus" aria-hidden="true"></i>未执行</div>
                                </div>
                          </div>
                          <div class="hortree-branch">
                                <div class="hortree-entry" >
                                    <div class="hortree-label">信用强规则集</div>
                                    <div class="hortree-label">未执行</div>
                                </div>
                          </div>
                          <div class="hortree-branch">
                                <div class="hortree-entry" >
                                    <div class="hortree-label">信用强规则集</div>
                                    <div class="hortree-label">未执行</div>
                                </div>
                          </div>
                        </div>
                  </div>
                </div>
                <div class="panel panel-default" id="decisionError"  style="height:100px;;display:none">
                  <div class="panel-heading">决策异常（有异常时在此显示）</div>
                  <div class="panel-body"  style="height:100px;">

                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">第三方数据信息 </div>
                  <div class="panel-body" id="interface"  style="height:700px;">
				    <table id="tb_query_list" class="evaluate-table"></table>
                  </div>
                </div>
			</div>
		</div>
	</div>
</div>
</script>