<script id="tpl_header" type="text/x-jsrender">
<div class="header-wrap">
  <div class="logo">
	  <a href="main.html"><img src="../theme/default/images/logo.jpg"></a>
      <!--<span class="logoname">优优学</span>
      <span class="slogan">让学习更快乐</span>-->
  </div>
  <ul class="nav-content">
      <li pageCode="var_center"><a href="javascript:void(0)">变量管理</a></li>
      <li pageCode="rule_center"><a href="javascript:void(0)">规则管理</a></li>
      <li pageCode="monitor_center"><a href="javascript:void(0)">监控中心</a></li>
      <li pageCode="blacklist_center"><a href="javascript:void(0)">黑名单管理</a></li>
      <li pageCode="bi_center"><a href="javascript:void(0)">报表中心</a></li>
      <li pageCode="system_center"><a href="javascript:void(0)">系统管理</a></li>
  </ul>
  <!-- <div class="m-dwonload">
      <div class="dwonloadbox">
         <div class="mobile">
             <a href="javascript:void(0)">
                 <span class="emw"><img src="../theme/default/images/ewm.jpg"/></span>
                 <p class="iconfont icon-phone"><small>移动端</small></p>
             </a>
         </div>
         <div class="mobile">
             <a href="javascript:void(0)">
                 <span class="emw"><img src="../theme/default/images/ewm.jpg"/></span>
                 <p class="iconfont icon-weixin"><small>微信端</small></p>
             </a>
         </div>
      </div>
  </div> -->
</div>
</script>

