<script id="tpl_operaAddUser" type="text/x-jsrender">
<div class="long-main-content">
	<div class="long-main-title">
    	<h1><span class="pull-left">添加用户</span> <a href="#" class="default-btn pull-right">保存</a></h1>
    </div>
    <div class="pubOperaMsg-con">
		<div class="filter">
			<div class="row">
<input type="hidden" id="useId"/>
				 <div class="col-md-3">
                                <label class="col-sm-2 control-label">用户名：</label>
                                <input type="text" placeholder="请输入用户名" class="userName"/>
                 </div>
				 <div class="col-md-3">
                                <label class="col-sm-2 control-label">密码：</label>
                                <input type="password" placeholder="请输入密码" class="userPwd"/>
                 </div>
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">确认密码：</label>
                                <input type="password" placeholder="请再次输入密码" class="ciruserPwd"/>
                 </div>
                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">手机号：</label>
                                <input type="text" placeholder="请输入手机号" class="varMobile"/>
                 </div>
			</div>
		</div>
    </div>
</div>
</script >
