<script id="tpl_operaAddUser" type="text/x-jsrender">
<div class="long-main-content">
	<div class="long-main-title">
    	<h1><span class="pull-left">添加用户</span> <a href="#" class="default-btn pull-right">保存</a></h1>
    </div>
    <div class="pubOperaMsg-con">
		<div class="filter">
			<div class="row">
<input type="hidden" id="roleId"/>
				 <div class="col-md-3">
                                <label class="col-sm-2 control-label">角色名称：</label>
                                <input type="text" placeholder="请输入角色名" class="userRoleName"/>
                 </div>

                  <div class="col-md-3">
                                <label class="col-sm-2 control-label">角色描述：</label>
                                <input type="text" placeholder="请输入角色描述" class="roleDsc"/>
                 </div>

			</div>
		</div>
    </div>
</div>
</script >
