<script id="tpl_operaVarGroupDetail" type="text/x-jsrender">
<div class="long-main-content">
	<div class="long-main-title">
    	<h1><span class="pull-left">变量源</span> <a href="#" class="default-btn pull-right">保存</a></h1>
    </div>
    <div class="pubOperaMsg-con">
		<div class="filter">
			<div class="row">
				<input type="hidden" id="varGroupId"/>
				<div class="col-md-3">
						<input type="text" placeholder="在此输入数据商名称" class="groupName"/>
				</div>
				<div class="col-md-3">
				 		<input type="text" placeholder="在此输入数据接口名称" class="description"/>
				</div>
				<div class="col-md-3">
						<input type="text" placeholder="在此输入数据源服务标识" class="queryIface"/>
				</div>
			</div>
		</div>
    </div>
</div>
</script >
