<script id="tpl_ruleExecu" type="text/x-jsrender">
<div class="long-main-content">
	<div class="long-main-title">
		<h1>进件决策列表</h1>
	</div>
	<div class="teach-admin">
		<div class="admin-con">
			<div class="filter">
				<p>筛选条件</p>

			</div>
			<div class="kebiao-con">
				<div id="toolbar">
				</div>
				<table id="tb_app_order_list" class="evaluate-table"></table>
			</div>
		</div>
		<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Modal title</h2>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>

      <div class="modal-footer" style="text-align:center">

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
	</div>
</div>
</script>