<script id="tpl_staticQueryLog" type="text/x-jsrender">
<div class="long-main-content">
	<div class="long-main-title">
		<h1>访问统计</h1>
	</div>
	<div class="teach-admin">
		<div class="admin-con">
			<div class="filter">
				<p>筛选条件（默认当天）</p>
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<span class="mobi-calendar iconfont icon-calendar">
								<input name="" placeholder="请选择查询日期" type="text" id="calendar" readonly class="">
							</span>
						</div>

						<div class="col-md-1">
							<a href="#" class="default-btn search-btn" style=""
								name="searchBtn">搜索</a>
						</div>
					</div>
				</div>
			</div>
			<div class="kebiao-con">
                <div class="panel panel-default" ">
                  <div class="panel-heading">数据平台访问趋势图（分） </div>
                  <div class="panel-body" id="e_1"  style="height:300px;">

                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">数据平台访问用时分布 </div>
                  <div class="panel-body" id="e_2"  style="height:300px;">

                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">数据平台访问状态分布 </div>
                  <div class="panel-body" id="e_3"  style="height:300px;">

                  </div>
                </div>
			</div>
		</div>
	</div>
</div>
</script>