<script id="tpl_login" type="text/x-jsrender">
<div class="wdg-second-header-lg">
    <div class="main-section">
        <a href="#" class="brand-logo mt15 rrd-log-img">
            <!--<img  src="../../../theme/default/images/logo_wev8.png" alt="汇中大数据风控平台">-->
        </a>
    </div>
</div>

<div class="main-content">
    <div class="login-index">
        <div class="car-center">
            <div class="spot">

            </div>
            <div class="data-show ">
                <div class="tab">
                    <span class="login-checked">登录</span>
                </div>
                <div id="form-login">
                    <div class="login-form">
    <ul class="login-ul">
        <li>
            <input class="ui-input cellphone" type="text" placeholder="请输入账号" maxlength="48"  name="j_username" id="j_username">
        </li>
        <li>
            <input class="ui-input password" id="J_pass_input" placeholder="请输入密码" type="password" name="j_password" >
        </li>
        <!--<li class="validate-image input-hide">-->
            <!--<input class="code" name="j_code" id="randCode" type="text" placeholder="图形验证">-->
            <!--<a href="javascript:void(0)" class="rand-code"><img id="randImage" align="absmiddle" src="#" name="randImage" alt="验证码"></a>-->
        <!--</li>-->
    </ul>
    <div class="rember fn-clear">
        <div class="rember-le">
            <span class="j-checkbox j-checked">
                 <input name="rememberme" id="rememberme" type="checkbox" checked="checked">
            </span>
        </div>
    </div>
    <div class="submit">
        <input type="submit" class="login-btn" value="立即登录">
    </div>
    <div class="login-last">
        <div class="login-error">

        </div>
    </div>
</div>
</div>
</div>
</div>
<ul class="login-carousel">
    <li>
        <span><img src="../../../theme/default/images/bg1.jpg" alt="登录的轮播图"></span>
    </li>
</ul>
</div>
</div>

<div class="login-footer">
    <ul class="lg-footer-ul">
        <li><span>© 2017 汇中大数据 All rights reserved</span><i></i></li>
        <li><span>汇中利通投资管理（北京）有限公司</span></li>

</div>
</script>